.holder{
    max-width: 1500px;
    margin: 0 auto;
}

h2{
    color: #d6d5d5;
    font-style: italic;
    font-weight: 600;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    background: #3670b3;
    border-radius: 25%;
}

.historia > p{
    font-size: 30px;
    font-style: italic;
    padding: 20px;
    color:#eaedf1d7;
    text-align: center;
}

.personas{
    display: flex;
    justify-content: space-between;
}

.persona{
    background: linear-gradient(to bottom, rgba(41,137,216,0) 
    0%,rgba(41,137,216,0.28) 31%,rgba(41,137,216,0.5) 
    52%,rgba(30,87,153,0.84) 85%,rgba(30,87,153,1) 100%);
    border: 1px solid #253786;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    
}

.persona img{
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.persona h5
.persona h6 {
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5{
    font-size: 18px;
    margin-top: 5px;
    color: #d6d5d5;
}

.persona h6{
    font-size: 14px;
    font-style: italic;
    color: #d6d5d5;
}

.persona p{
    color: #eaedf1d7;
    font-style: italic;
    font-size: 15px;
}